@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@font-face {
     font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.woff') format('woff')
    }
body{font-family: 'Roboto', sans-serif; font-weight:300; color:#5e6977}
img{max-width:100%}
header{padding:38px 0px; box-shadow:0 0 5px 2px #e8e8e8;}
.logo{margin-top:}
#navbar{margin-top:-10px}
.r-logo{display:none}
.nav > li > a {color:#86939e; font-size:16px; font-weight:400; padding:0; margin: 0px 40px 0 0;}
.nav > li > a:hover{background:none; color:#000}
.container .jumbotron {background:none; padding-left:0; padding-right:0}
.jumbotron h1{font-family: 'Roboto-Light'; font-size:52px; color:#43484d;; margin-bottom:30px}
.jumbotron p.lead{font-family: 'Roboto-Light';font-size:22px; margin:0 52px;}
.services{margin:50px 0px;}
.service_container{display:table;}
.service_icon,.service_text{display:table-cell; padding:10px; vertical-align:top}
.service_icon{width:76px}
.service_text{padding:10px 30px 10px 20px;}
.service_text h2{font-size:18px; color:#43484d; margin-top:0; line-height:18px}
.service_text p{font-size:16px; color:#86939e;}
.slider{min-height:395px; background:url(../images/bg_slider.jpg) no-repeat 0px bottom;}
.learnmore a{color:#358ed7; position:relative; font-weight:500}
.learnmore a:after{content:url(../images/icon_next.png);margin-left:10px; margin-top:1px; position:absolute}
.slider .row{display:flex; min-height:440px; align-items:center}
.my-slider{width:64%}
.my-slider p{font-size:16px; font-weight:400; margin:20px 0px; color:#86939e}
.my-slider h2{font-size:32px; font-family: 'Roboto-Light';}
.slid-nav{list-style-type:none; margin:45px 0 0; padding:0}
.slid-nav li{background:#e7e9ec; width:5px; height:5px; border-radius:50%; margin-right:10px; display:inline-block; cursor:pointer}
.slid-nav li.active_item{background:#358ed7; border:5px solid #358ed7; }
a.slide_navigation{width:40px; height:40px; background:url(../images/icon_navigation.png) no-repeat center; right:0; display:block;top: calc(50% - 20px); position:absolute; opacity:.7; transition:all .2s;}
a.slide_navigation:hover{opacity:1}

.intro_pricing{background:#f9f9f9;}

.pricing_wrap{border-radius:10px; background:#fff; float:left; display:flex; flex-wrap:wrap; margin-bottom:-135px}
.pricing{width:33%; padding:30px; text-align:center}
.pricing h2{font-size:14px; margin:0;  color:#358ed7;text-transform:uppercase}
.pricing h3{font-size:16px; font-weight:400; margin:0; color:#86939e; }
.fee{color:#86939e; font-weight:400}
#business h2,#business h3,#business .price,#business .description,#business .fee{color:#fff;}
#business h2{opacity:.7}
#business .description,#business h3{opacity:.6}
.pricing hr{background:#e1e8ee; border:none; height:1px; margin:30px 0px}
#business hr{background:#61bdda}

.price{font-size:52px; margin-top:20px; color:#43484d}
.description{margin-top:30px; font-size:16px; color:#86939e;}
.pricing_attr{list-style-type:none; font-weight:400}
.pricing_attr li{text-align:left; margin-bottom:30px; position:relative;}
.pricing_attr li:before{content:""; position:absolute; width:8px; height:15px; border-right:2px solid #86d35d; border-bottom:2px solid #86d35d; left:-30px; transform:rotate(48deg);}
.pricing_attr li.inactive{color:#bfc7ce}
.pricing_attr li.inactive:before{display:none}
.btn_pricing{margin-top:40px; padding:10px; font-size:16px; color:#358ed7; background:none; border:2px solid #e1e8ee}
#business{ width:34%;background:#39add1; color:#fff; border-bottom-right-radius:10px;border-top-right-radius:10px;}
#business .btn_pricing{background:#7dc855; color:#fff; border:2px solid #7dc855; }
.bottom{padding-top:170px; background:#5e6977; color:#fff}
.bottom h1{color:#fff}
.bottom .jumbotron{margin-bottom:0}
.bottom .jumbotron p.lead{opacity:.8}
.bottom button{background:#7dc855; color:#fff; padding:15px 40px; margin-top:50px }
.partners h2{font-size:18px; opacity:.6}
.logo-partners{margin-top:5px;}
.logo-partners img{margin:25px;}
@media
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and ( min–moz-device-pixel-ratio: 2) and (min-width: 320px),
only screen and ( -o-min-device-pixel-ratio: 2/1) and (min-width: 320px),
only screen and ( min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and ( min-resolution: 192dpi) and (min-width: 320px),
only screen and ( min-resolution: 2dppx) and (min-width: 320px) {
		.r-logo{display:block}
		.n-logo{display:none;}
 
}